// All 
* {
    font-family: "Space Mono";
    color: $dark-color-light;
}

body {
    background-color: $dark-primary-color;
}

body#light {
    background-color: $light-background-color;
}

// Main 
main {
    margin: 5em auto;
    max-width: 50%;
    @include desktop-small-only {
        max-width: 60%;
    }
    @include ipad-only {
        max-width: 70%;
    }
    @include ipad-small-only {
        max-width: 80%;
    }
    @include ipad-Xsmall-only {
        max-width: 90%;
    }
    @include mobile-only {
        margin: 1.5rem;
    }
}

// Main light theme
#light main {
    h1, h2, input {
        color: $light-dark-color;
    }
    p, input::placeholder, a, h4 {
        color: $light-secondary-color;
    }
    svg {
        fill: $light-secondary-color;
    }
}

//Loader
#light .loader {
    background-color: $light-background-color;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: $dark-primary-color;
    animation: dis 0.5s forwards 3.5s;
    h1 {
        font-size: 3em;
        overflow: hidden;
        border-right: .15em solid $primary-color;
        white-space: nowrap;
        margin: 0 auto;
        letter-spacing: 0.1em;
        animation: 
        typing 2s steps(18, end),
        blink-caret .75s step-end infinite;
        line-height: 1em;
        @include mobile-only {
            font-size: 2.5em;
        }
    }
}    

// Text & links
h1 {
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    margin: 0;
}

h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    margin: 0;
    @include mobile-only {
        font-size: 16px;
    }
}

h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    @include mobile-only {
        font-size: 13px;
    }
}

h4 {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    margin: 0;
    @include mobile-only {
        font-size: 11px;
    }
}

p {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    margin: 0;
    @include mobile-only {
        font-size: 13px;
    }
}

a {
    text-decoration: none;
    @include mobile-only {
        font-size: 13px;
    }
}

.disabled {
    text-decoration: none;
    cursor: none;
    pointer-events: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

// Button & input
label {
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 2.5px;
}

button {
    background: none;
    border: none;
    padding: 0;
}

#search {
    @include mobile-only {
        display: none;
    }
}

input {
    background: none;
    border: none;
    caret-color: $primary-color;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    @include mobile-only {
        padding: 1rem 1.8rem 1rem 0.5rem;
    }
}

input::placeholder {
    color: $dark-color-light;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    @include mobile-only {
        width: 4.3em;
    }
}

input:focus::placeholder {
    color: transparent;
}

#light input:focus::placeholder {
    color: transparent;
}

input:focus {
    outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

// Flex 
.flex {
    display: flex;
    gap: 1rem;
}

.column {
    flex-direction: column;
}

.unset {
    flex-direction: unset;
}

.center {
    align-items: center;
}

.justify {
    justify-content: center;
}

.between {
    justify-content: space-between;
}

.end {
    justify-content: flex-end;
}