main {
    width: fit-content;
    margin: 5em auto;
    max-width: 50%;
    @include desktop-small-only {
        max-width: 60%;
    }
    @include ipad-only {
        max-width: 70%;
    }
    @include ipad-small-only {
        max-width: 80%;
    }
    @include ipad-Xsmall-only {
        max-width: 90%;
    }
    @include mobile-only {
        margin: 1.5rem;
    }
    @include mobile-small-only {
        max-width: 88%;
    }
    .logo-container {
        padding-bottom: 1rem;
        svg {
            fill: $dark-color-light;
        }
    }
    form {
        background-color: $dark-secondary-color;
        padding: 0.6rem;
        border-radius: 15px;
        img {
            padding-left: 1.3rem;
        }
        button {
            background-color: $primary-color;
            border-radius: 10px;
            font-weight: 700;
            font-size: 16px;
            padding: 1rem 1.8rem 1rem 1.8rem;
        }
    }
    .user-container {
        gap: 2.2rem;
        background-color: $dark-secondary-color;
        padding: 3rem;
        border-radius: 15px;
        @include mobile-only {
            padding: 2rem;
        }
        &__head {
            gap: 2rem;
            &--img {
                @include mobile-only {
                    width: 40%;
                }
                img {
                    border-radius: 100%;
                    @include mobile-only {
                        width: 100%;
                    }
                }
            }
            &--name {
                width: 100%;
                @include ipad-only {
                    flex-direction: column;
                    justify-content: unset;
                }
                h1 {
                    @include mobile-only {
                        font-size: 16px;
                    }
                }
                h3 {
                    color: $primary-color;
                    @include mobile-only {
                        line-height: 0px;
                    }
                }
            }
        }
        &__stats {
            margin-top: -4rem;
            margin-left: 9.5rem;
            gap: 2rem;
            @include ipad-only {
                margin: 0;
            }
            .stats {
                background-color: $dark-primary-color;
                border-radius: 10px;
                padding: 1rem 2rem;
                gap: 5rem;
                @include mobile-only {
                    gap: 3rem;
                }
                @include mobile-small-only {
                    gap: 1.3rem;
                    padding: 1rem 1.5rem;
                }
            }
            .social {
                gap: 4rem;
                @include mobile-only {
                    gap: 1rem;
                }
                svg {
                    fill: $dark-color-light;
                }
                @include mobile-only {
                    flex-direction: column;
                }
            }
        }
    }
 }