.logo-container {
    padding-bottom: 1rem;
    opacity: 0;
    animation: appear 0.5s ease 4s forwards;
    button {
        svg {
            fill: $dark-color-light;
        }
    }
    :hover svg, :hover span {
        cursor: pointer;
        fill: $dark-hover-light;
        color: $dark-hover-light;
    }
}

// Light theme
.light .logo-container {
    button {
        svg {
            fill: $light-primary-color;
        }
        span {
            color: $light-primary-color;
        }
    }
    :hover svg, :hover span {
        cursor: pointer;
        fill: $light-dark-color;
        color: $light-dark-color;
    }
}