 .user-container {
    gap: 2.2rem;
    background-color: $dark-secondary-color;
    padding: 3rem;
    border-radius: 15px;
    opacity: 0;
    animation: appear 0.5s ease 5s forwards;
    @include mobile-only {
        padding: 2rem;
    }
    &__head {
        gap: 2rem;
        .date {
            p {
                line-height: 38px;
                @include mobile-small-only {
                    line-height: 20px;
                }
            }
        }
        &--img {
            @include mobile-only {
                width: 40%;
            }
            img {
                border-radius: 100%;
                @include mobile-only {
                    width: 100%;
                }
                @include mobile-small-only {
                    width: 120%;
                }
            }
        }
        &--name {
            width: 100%;
            @include mobile-only {
                gap: 0.5em;
            }
            @include ipad-only {
                flex-direction: column;
                justify-content: unset;
            }
            .name {
                width: 45%;
                @include ipad-only {
                    width: 90%;
                }
                h1 {
                    @include mobile-only {
                        font-size: 16px;
                    }
                    @include mobile-small-only {
                        line-height: 28px;
                    }
                }
                a {
                    color: $primary-color;
                    @include mobile-only {
                        line-height: 1em;
                    }
                }
            }
        }
    }
    &__stats {
        margin-top: -4rem;
        margin-left: 9.5rem;
        gap: 2rem;
        @include mobile-only {
            align-items: center;
        }
        @include ipad-only {
            margin: 0;
        }
        .description {
            width: 100%;
        }
        .stats {
            background-color: $dark-primary-color;
            border-radius: 10px;
            padding: 1rem 2rem;
            gap: 5rem;
            @include mobile-only {
                gap: 4rem;
                justify-content: center;
                text-align: center;
                width: 85%;
            }
            @include mobile-small-only {
                gap: 2.5rem;
            }
        }
        .social {
            gap: 4rem;
            width: 100%;
            @include mobile-only {
                gap: 1rem;
                flex-direction: column;
            }
            .social-link {
                width: 45%;
                @include mobile-only {
                    width: 100%;
                }
                @include mobile-only {
                    flex-direction: column;
                }
                .link {
                    max-width: 80%;
                }
            }
        }
    }
}

// Light theme
.light .user-container {
    background-color: $light-card-color;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    .name {
        a {
            color: $primary-color;
        }
    }
    .date {
        p {
           color: $light-primary-color;
        }
    }
    .stats {
        background-color: $light-background-color;
    }
}